
body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(images/img03.gif) repeat-x left top;
	font-family:"Comic Sans MS",Arial, Helvetica, sans-serif;
	font-size:100%;
	color: #787878;
}


h1 {
	color: #FF9966;
	font-size: 1.3em;
	text-align: left;
	margin: 0 5px 10px 20px;
	padding: 10px 10px 1px 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #FF9966;
	background-color: transparent;
	
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

a {
	text-decoration: none;
}

.container {
	width: 1000px;
	padding: auto;
	margin: auto;
	height: auto;
}

/* Header */
.index_images{
	clear: both;
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.index_images img{
	max-width: 1000px;
}

/* Menu */

.nav {
	width: 940px;
	height: 80px;
	margin: 0 auto;
	padding: 0;
}
.nav ul {
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
}
.nav li {
	float: left;
}
.nav a {
	display: block;
	height: 35px;
	margin-right: 1px;
	padding: 16px 40px 0px 40px;
	background: url(images/img04.gif) no-repeat right top;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	border: none;
}
.nav a:hover, .nav .current_page_item a {
	background: url(images/img05.gif) repeat-x left top;
	text-decoration: none;
	color: #FFFFFF;
}

.nav ul li ul{
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
	position: absolute;
    display: none;
}
.nav ul li ul li{
	background: #FFFFFF url(images/img03.gif) repeat-x left top;
	float: none;
}
.nav ul li:hover ul{
	display: block;
}

.content{
	margin: 20px 0 0 0;
	width: 1000px;
}
.contenttop{
	font-size: 18px;
	height: auto;
	text-align: center;
	font-weight: bold;
}
.content1{
	width: 470px;
	height: 300px;
	margin: 20px 20px 20px 0px;
	padding: 20px 0px 20px 0px;
	float: left;
	border-width:1px;
	border-color: #787878;
	border-style:solid;
}
.title{
	width: 300px;
	margin: 0px 40px 0px 20px;
	height: 100px;
}
.titleimage{
	width: 130px;
	height: 100px;
	float: left;
}
.titleimage img{
	max-width: 130px;
	max-width: 130px;
}
.titlecontent{
	width: 150px;
	padding: 0px 10px 0px 0px;
	height: 40px;
	float: right;
}
.content .title_sj{
	width: auto;
	padding: 0px 10px 0px 0px;
	height: 10px;
	text-indent: 2em;
}
.blogcontent{
	width: 400px;
	padding: 0px 40px 0px 0px;
	height: auto;
	float: right;
}
.blogcontent p{
	text-indent: 2em;
	font-weight: normal;
}

.content2{
	width: 470px;
	height: 300px;
	margin: 20px 0px 20px 0px;
	padding: 20px 30px 20px 0px;
	float: right;
	border-width:1px;
	border-style:solid;
	border-color: #787878;
}

.introduction{
	margin: 0px 0px 20px 90px;
	padding: 30px 20px 10px 20px;
	width: 800px;
	height: auto;
	border-width:5px;
	border-style:solid;
	border-color: grey;
}
.introduction p{
	font-size: 14px;
	text-indent: 2em;
}

.homework{
	width: 1000px;
	height: auto;
	border-width:1px;
	border-style:solid;
	border-color: #787878;
}
.homeworktop td{
	padding: 20px 0px 20px 0;
	width: 1000px;
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
	border-width:1px;
	border-style:solid;
	border-color: #787878;
}
.homeworkcontainer{
	width: 1000px;
}
.homeworkcontent{
	width: 243px;
	height: 300px;
	float: left;
	border-width:2px;
	border-style:solid;
	border-color: #787878;
	overflow: hidden;
}
.homeworkcontent a{
	color: gray;
}
.hwcontent_t{
	margin: 10px 0 10px 0;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.hwcontent_introduction{
	font-size: 13px;
	margin: 20px 5px 20px 5px;
}
.hwcontent_introduction p{
	text-indent: 2em;
}

.introduce_myself{
	width: 1000px;
	margin:0 auto;
	padding:0;
	background: #fff;
}
.introduce_myself p{
	text-indent: 2em;
}

.myself{
	float: left;
	padding-right: 190px;
	font-size: 0.95em;
	color: #000;
	width: 610px;
	text-align: left;
	padding: 5px 0px 15px 5px;
	background-color: transparent;
}
.myself img{
	max-width: 150px;
	max-height: 180px;
}
.right{
	float: right;
	font-size: 0.95em;
	color: #000;
	background-color: #FFFFCB;
	margin: 0;
	padding: 0 5px 15px 0;
	width: 340px;
	text-align: left;
}
.right h2 {
	color: #FF9966;
	font-size: 1.1em;
	padding: 5px 10px 5px 10px;
	
}
.right h3 {
	color: #FF9966;
	font-size: 1.1em;
	padding: 10px 10px 5px 0;
	border-top: 1px solid #0099FF;
	width: 165px;
	margin-left: 10px;
}
.right p {
	padding: 5px 10px;
	margin: 0;
}
img.centered {
display:block;
margin-left:auto;
margin-right:auto;
border:1px solid #FFFF99;
padding:4px;
}

img.alignright {
float: right;
border:1px solid #FFFF99;
margin:4px 0 3px 7px;
padding:4px;
}

img.alignleft {
float: left;
border:1px solid #FFFF99;
margin:4px 7px 3px 0;
padding:4px;
}

a.navigation {
	color: #0099FF;
	border-width: 0 5px 0 5px;
	border-color: #FFFFCB;
	border-style: solid;
	text-decoration: none;
	display: block;
	padding: 3px 15px 3px 5px;
	text-align: left;
	font-weight: bold;
	width: 165px;
}
a.navigation:hover {
	border-color: #4EBDFF;
	background-color: #FFF;
	color: #FF9966;
}

.clearfix{
	clear: both;
}
.blank{
	height: 30px;
}
.blank2{
	height: 150px;
}
/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #ECECEC;
	border-top: 1px solid #DEDEDE;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	color: #A0A0A0;
}

#footer a {
	color: #8A8A8A;
}
