@charset "utf-8";
/* Base Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}
:focus { outline:0;}
img { border:0;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}
.clear { width:100%; height:0; line-height:0; font-size:0; overflow:hidden; clear:both; display:block; _display:inline;}
.none { display:none;}
.hidden { visibility:hidden;}
.clearfix:after{clear: both;content: ".";display: block;height: 0;visibility: hidden;}
.clearfix{display: block; *zoom:1;}
hr{ height:1px;border:none;border-top:1px dashed #c3c3c3;}


/**布局开始**/
body {  background-color: #f1efe3;}
body,p { font: 12px/1 "\u5b8b\u4f53", Tahoma, Geneva, sans-serif; color: #333;font-family: "Microsoft YaHei";font-family: "SimSun";}
a { color: #333;text-decoration: none;}
a:hover {  color: #cd0200;}
.wrapper {   width: 100%; margin: 0 auto;}
.wrapper .inner { width: 1000px; margin: 0 auto;}    /**页面全局宽度**/

/**一级导航栏**/
#naver{ background-color:#b39858;}
.navigation{width:100%; height:41px;}
.navigation .inner{width:1000px; height:41px; margin:0 auto;}
.navigation .inner .NavigationBar li.nav-bar a{font-size:16px; font-weight:normal; color:#fff;}
.navigation .inner .NavigationBar li.nav-bar a:hover{background:#85754d;}
.navigation .inner .NavigationBar li.nav-bar a span.navigation-name{padding:0 25px; height:41px; line-height:41px;}
.navigation .nav-bar a span.navigation-name{display:inline-block; padding:5px 10px; line-height:22px;cursor:pointer;}

.NavigationBar{display:block; margin: 0; padding: 0;display: block; *zoom:1;}
.NavigationBar:after{clear: both;content: ".";display: block;height: 0;visibility: hidden;}
.NavigationBar .on{ z-index:10;}
.NavigationBar .nav-bar{display:inline-block; float:left; position:relative; vertical-align:bottom;}
.NavigationBar .nav-bar .mark{display:block; width:100%; height:100%; position:absolute; left:0;top:0; z-index:99;}
.NavigationBar .nav-bar a{font-family:"Microsoft Yahei"; display:block;text-align:center;position:relative; z-index:100;}
.NavigationBar .nav-bar a.parent{color:#000;}
.NavigationBar .nav-bar a.parent:hover{color:#000;}

.NavigationBar .level2-bar{ top:41px!important; border:none;}/*子菜单位置*/
.NavigationBar .level2-bar .level2-item a{ border-top:none;}/*去边框*/

/**二级导航栏**/
.NavigationBar .level2-bar{top:41px!important; border:none;}
.NavigationBar .level2-bar .level2-item{border-top:none;white-space:nowrap;}
.NavigationBar .level2-bar .level2-item a{width:114px!important;background:#b39858;font-family:"Microsoft Yahei"; font-size:13px;font-weight:normal; color:#000;text-align:left;border-top:0 solid #D8E1CC;min-width: 80px;}
.NavigationBar .level2-bar .level2-item a.parent{background:#eee;color:#000;}
.NavigationBar .level2-bar .level2-item a.parent:hover{background:#eee;color:#000;}

.NavigationBar .level2-bar:after{clear: both;content: ".";display: block;height: 0;visibility: hidden;}

.NavigationBar .level2-bar .level2-item span.level2-bar-name{padding:5px 10px; line-height:22px;}

.NavigationBar .level2-bar li.level2-item a:hover{color:#000;}
.NavigationBar .level2-bar li.level2-item a span.level2-bar-name{width:155px; overflow:hidden;padding: 0 10px; height:35px; line-height:35px;}


/**标题栏新闻窗口**/
.post {}
.post .tt {height: 41px;}    /**标题栏 **/
.post .tt .tit {display: inline-block;float: left;font-size: 18px;font-weight: normal;color: #9d7a23;}/**标题字体**/
.post .tt .tit .title {display: inline-block;height: 41px;line-height: 41px;padding-left: 23px;background: url(images/schoolbadge.png) no-repeat 0 center;font-family: "Microsoft YaHei";margin-left: 10px;}   /**标题图标**/
.post .tt .more_btn {display: inline-block;height: 32px;line-height: 32px;float: right;}   /**更多按钮**/
.post .tt .more_btn a {color: #9d7a23;}   /**更多按钮颜色修改**/
.post .tt .more_btn a:hover {color: #cd0200;}   /**自定义新闻列表**/

.news_list {}
.news_list li.news { line-height: 24px;}   /**标题图标**/
.news_list li.news span.news_title {float: left;}
.news_list li.news span.news_meta {float: right;margin-left: 2px;}
.news_list li.news p {clear: both;line-height: 20px;color: #787878;}
.news_list li.news p a {color: #787878;}
.news_list li.news p a:hover {color: #444;text-decoration: underline;}

/**主体开始**/
#container {}

/**布局，固定宽度**/
#container .inner {background: #fff;width: 1000px; padding-bottom: 50px;}
#container-1 {background: url(images/datu-1.jpg) no-repeat center 0;padding-top: 25px;}   /**设置背景**/
.cont-1 .cont-1-b {}
.cont-1 .cont-1-b .cont-1-b-1 {width: 656px;height: 272px;float: left;background-color: #fff;border-top: 4px solid #85754d;}   /**左边一大块向左浮动对齐，高度设置为4像素**/
.cont-1 .cont-1-b .cont-1-b-2 {width: 344px;height: 272px;float: left;background-color: #e8e0cd;border-top: 4px solid #b89a53;}   /**右边一部分童谣向左对齐，高度设置为4像素**/

.zdy-1 {}
.zdy-1 .slt {width: 285px; height: 191px;float: left;margin-top: 10px;margin-left: 13px;}   /**左侧图片格式**/
.zdy-1 .zdy-1-r {width: 310px;float: right; margin-right: 23px;}   /**中间部分格式**/
.zdy-1 .bt {height: 34px;line-height: 34px;}   /**中间部分标题格式**/
.zdy-1 .bt a {color: #9d7a23;font-size: 14px;font-family: "SimSun";font-weight: bold;}   /**...字体大小**/
.zdy-1 .bt a:hover {color: #f90;}   /**...颜色**/
.zdy-1 .sj {width: 87px; height: 22px;background-color: #bda15d;color: #fff;font-family: "Microsoft YaHei";line-height: 22px;text-align: center;margin-bottom: 12px;}

.zdy-2 {}
.zdy-2 .sj {width: 41px;height: 34px;float: left;margin-left: 13px;}   /**右侧时间格式**/
.zdy-2 .bt {width: 270px;float: left;margin-left: 11px;}   /**右侧标题格式**/

.sj .sj-y {height: 16px; line-height: 16px;background-color: #22877c;color: #fff;font-size: 12px;font-family: "Microsoft YaHei"; text-align: center;}   /**右侧时间部分年格式**/

.sj .sj-m-d {height: 15px;line-height: 15px; border-top: 1px solid #d3e7e5;color: #22877c;font-size: 12px;font-family: "Microsoft YaHei";text-align: center;background-color: #fff;}   /**右侧时间部分月日格式**/
.cont-1-b-2 .post .tt .more_btn { margin-right: 20px;}   /**更多按钮格式**/
#wp_news_w7 .news_list li.news { margin-bottom: 7px;display: none; height: 34px;overflow: hidden;padding: 0px;}   /**右侧新闻列表格式**/
.cont-1-b-2 .post .con {margin-top: 5px;height: 205px;overflow: hidden;}   /**右侧新闻列表浮动，修剪内容**/
.zdy-1-r .jianj { text-indent: 2em;}   /**中间新闻内容空两格**/
.post .tt .tit a {display: inline-block; float: left; font-size: 18px; font-weight: normal;color: #9d7a23;}   /**定义左上标题颜色**/

.fenge{margin: 20px;}

/**自定义新闻列表**/
.news_list {}
.news_list li.news { line-height:24px;} /**标题图标**/
.news_list li.news span.news_title { float:left;}
.news_list li.news span.news_meta { float:right; margin-left:2px;}
.news_list li.news p {clear:both; line-height:20px; color:#787878;}
.news_list li.news p a { color:#787878;}
.news_list li.news p a:hover { color:#444; text-decoration:underline;}


/**主体开始**/
#container {height:493px;background:#7f7c74 url(images/zhongj-bg.jpg) no-repeat center 0; border-bottom:6px solid #b09555;}
#container .inner {background:url(images/jia-bg.jpg) no-repeat 0px 0px}

.body1{width:312px; height:356px; float:left; background-color:#f1efe3; margin-top:70px; overflow:hidden;}
.body2{width:314px; height:327px; float:left;background-color:#f1efe3;margin-top:70px; margin-left:32px; padding-top:29px;}
.body3{width:314px; height:356px; float:right;background-color:#f1efe3;margin-top:70px;}

.body1 .image1{ width:101px; height:74px; float:left; margin-left:13px; margin-top:27px;}
.body1 .sj1{line-height:24px;width:87px; height:22px; background-color:#22877c; color:#fff; text-align:center; margin-top:10px;font-family:"Microsoft YaHei";}
.body1 .news1-title-t{width:167px; float:right; margin-top:25px; margin-right:13px;}
.body1 .news1-title-tt{line-height:23px;}
.body1 .news1-title-tt a{font-size:13px;font-weight:bold;color: #368f86}

.body1 .news1-content{padding:23px 20px 0 20px;}

.body2 .sj{ width:39px; height:32px; float:left; border:1px solid #b3bfbd; margin-left:15px;}
.body2 .news2-content{ width:235px; float:left; margin-left:13px; line-height:18px;}

.body2 .sj .year{height:16px; line-height:16px; background-color:#22877c; color:#fff; font-size:12px; font-family:"Microsoft YaHei"; text-align:center;}
.body2 .sj .md{ height:15px; line-height:15px; border-top:1px solid #d3e7e5; color:#22877c; font-size:12px;font-family:"Microsoft YaHei"; text-align:center; background-color:#fff;}

.body3 .news3-title-images{width:101px; height:74px; float:left; margin-left:13px; margin-top:27px;}
.body3 .news-title-bt{ width:167px; float:right; margin-top:25px; margin-right:13px;}
.body3 .news3-title-bt-content{line-height:22px;}
.body3 .news3-title-bt-content a{font-size:14px;font-weight:bold;color: #368f86}
.body3 .news3-content{ padding:23px 20px 0 20px;}
.body3 .sj1{line-height:24px;width:87px; height:22px; background-color:#22877c; color:#fff; text-align:center; margin-top:10px;font-family:"Microsoft YaHei";}

#windows1 .news1-content p{ line-height:25px;}
#windows2 .newslist li.news{margin-bottom:12px;}
#windows3 .news3-content{text-indent:2em;line-height:24px;}